.exchange-rates {
    max-width: 380px;
    padding: 10px 13px 30px;
    background-color: #e4f2ff;
    border-radius: 10px;
}

.exchange-rates__title {
    margin-bottom: 20px;
    font-family: 'IBM';
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: #265D77;
}

.exchange-rates__list {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #265D77;
}

.exchange-rates__item {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.exchange-rates__item:last-child {
    margin-bottom: 0;
}

.exchange-rates__item::after {
    content: '';
    display: block;
    width: 9px;
    height: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item__up::after {
    background-image: url('../../img/up.svg');
}

.item__down::after {
    background-image: url('../../img/down.svg');
}

.exchange-rates__currency {
    margin-right: auto;
}

.exchange-rates__value {
    display: block;
    margin-right: 5px;
}
