.header {
    position: relative;
    background-color: #ffffff;
    z-index: 1;
}

.header__info {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #08475E;
}

.header__text {
    font-family: 'IBM';
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 17px;
    background-color: #ffffff;
}

.header__nav-btn {
    display: none;
}

@media (max-width: 1024px) {
    .header__text {
        font-size: 12px;
        line-height: 16px;
    }
}

@media (max-width: 768px) {
    .header__nav-btn {
        display: block;
        background-color: transparent;
        border: 0;
        line-height: 0;
    }

    .header__nav {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: #ffffff;
        transition: transform 0.3s ease-in-out;
    }

    .header__nav_open {
        transform: translateY(calc(100% - 1px));
    }
}

@media (max-width: 480px) {
    .header__container {
        padding-bottom: 15px;
    }
}
