.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 40px;
    font-size: 18px;
}

.nav__item:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .nav__list {
        max-width: 740px;
        margin: 0 auto;
    }

    .nav__list_header {
        padding: 15px 30px;
    }

    .nav__item_footer {
        margin-right: 20px;
    }
}

@media (max-width: 480px) {
    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__list_header {
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav__item {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .nav__item:last-child {
        margin-bottom: 0;
    }
}
